# data

In [1]:
import pandas as pd
import pymongo
import numpy as np

client=pymongo.MongoClient("192.168.10.240",27017)
db= client['AI_LKJ']
collection_tour_pass_visitor = db['data_tour_pass_visitor']
data_tour_pass_visitor = collection_tour_pass_visitor.find()
df_tour_pass = pd.DataFrame(data_tour_pass_visitor)

In [2]:
df_tour_pass.head()

                        _id    date   visitor region
0  663dbde82581fd20a9efc69a  201903  61439672     경기
1  663dbde82581fd20a9efc69b  201904  45141490     경기
2  663dbde82581fd20a9efc69c  201905  53300448     경기
3  663dbde82581fd20a9efc69d  201906  54278542     경기
4  663dbde82581fd20a9efc69e  201907  60857158     경기

In [3]:
df_tour_pass['region'].unique()

array(['경기', '강원', '부산', '제주'], dtype=object)

In [11]:
df_tour_pass.columns

Index(['_id', 'date', 'visitor', 'region'], dtype='object')

In [8]:
pivot_visitor = pd.pivot_table(data=df_tour_pass,index="region",columns = 'date',values='visitor', aggfunc='sum')
pivot_visitor

date,201903,201904,201905,201906,201907,201908,201909,201910,201911,201912,...,202305,202306,202307,202308,202309,202310,202311,202312,202401,202402
region,,,,,,,,,,,,,,,,,,,,,
강원,11300000,9029670,10400000,11500000,14100000,20100000,12500000,12100000,11400000,11400000,...,12500000,12300000,14700000,17100000,13500000,13900000,9878631,11300000,11100000,11700000
경기,61439672,45141490,53300448,54278542,60857158,69152260,61290392,58901661,59371860,50321786,...,53744633,51087987,55559456,54271026,56951293,56047739,49731562,51640052,50036682,51481075
부산,14482347,10768786,13441241,11490169,13642520,13941244,13812881,12208701,12252252,13689532,...,12500000,11700000,12800000,13300000,13700000,12600000,11600000,12900000,12400000,13300000
제주,4812685,4526887,4690564,4559755,5210256,5930807,4701184,5328934,4856982,4998793,...,5208883,5059521,5336175,5982112,4788081,5614039,4672499,4638646,5195183,4688578

# 투어패스가 등장한 시점
- 강릉 : 2023년 7월
- 경기 : 2023년 7월
- 부산 : 2022년 2월
- 제주 : 2021년 3월

## 강릉 52개월 전 / 7개월 후
- (2019.03 ~ 2023.06 까지 방문자 수 합한다음 나누기 52) (2023.07 ~ 2024.02 까지 방문자 수 합한다음 나누기 7)을 비교

In [12]:
pivot_tour_pass_month=pd.pivot_table(data=pivot_visitor, index='region', values=['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],aggfunc='sum')
# 지역별 방문자수를 월 기준으로 나눠서 표시
pivot_visitor = pd.pivot_table(data=df_visitor,index="region",columns = 'date',values='visitor', aggfunc='sum')
pivot_visitor

KeyError: '01'

## 경기 52개월 전 / 7개월 후

## 부산 35개월 전 / 24개월 후

## 제주 24개월 전 / 35개월 후